* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

body {
	background-color: #2b2d2f;
	color: white;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 500px;
}

form {
	display: block;
	width: 100%;
	max-width: 414px;
	margin: 0 auto;
	background-color: #FFF;
	color: #2b2d2f;
	border-radius: 16px;
	padding: 24px;
}

h3 {
	font-size: 24px;
	margin-bottom: 24px;
}

label {
	display: block;
	margin-bottom: 16px;
}

label span {
	display: block;
	color: #aaa;
	font-size: 14px;
	margin-bottom: 8px;
	transition: 0.3s ease-out;
}

label:focus-within span {
	color: #2b2d2f;
}

input[type="text"],
input[type="password"],
button {
	appearance: none;
	outline: none;
	border: none;
	background: none;
}

input[type="text"],
input[type="password"] {
	display: block;
	width: 100%;
	padding: 8px 16px;
	border: 1px solid #bbb;
	border-radius: 8px;
	transition: border-color 0.3s ease-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border-color: #2b2d2f;
}

.button {
	display: block;
	width: fit-content;
	margin-left: auto;
	cursor: pointer;
	background-color: #2b2d2f;
	color: #FFF;
	border-radius: 8px;
	padding: 16px 24px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	transition: background-color 0.3s ease-out;
}

.button:hover {
	background-color: crimson;
}

.password-wrap {
	position: relative;
}

#show-password {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	cursor: pointer;
	width: 24px;
	display: flex;
	align-items: center;
}

#show-password img {
	width: 100%;
	height: auto;
}